flows.json
[{"id":"4d4b9ab5.2cfd04","type":"tab","label":"aliyunIoTedge","disabled":false,"info":""},{"id":"146fa8cd.f7b007","type":"tls-config","z":"","name":"AliyunCertESP32","cert":"","key":"","ca":"","certname":"a11c2OB5VEb_hongESP32_47481e1a9573d6.cer","keyname":"a11c2OB5VEb_hongESP32_47481e1a9573d6.key","caname":"root.crt","servername":"","verifyservercert":true},{"id":"ab92fbe5.c23718","type":"mqtt-broker","z":"","name":"AliyunIoT Broker","broker":"x509.itls.cn-shanghai.aliyuncs.com","port":"1883","tls":"146fa8cd.f7b007","clientid":"ESP32|securemode=2,signmethod=hmacsha1|","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94038658.6911c8","type":"inject","z":"4d4b9ab5.2cfd04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":120,"wires":[["45029b21.06b774"]]},{"id":"4124aafe.2a6c94","type":"debug","z":"4d4b9ab5.2cfd04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"45029b21.06b774","type":"function","z":"4d4b9ab5.2cfd04","name":"edgeGPSfunction","func":"\n// t = Math.floor (Math.random() * (90-35) + 50)\n// h = Math.floor (Math.random() * (50-5) + 35)\n// c = Math.floor (Math.random() * (22-5) + 22)\n// hi = Math.floor (Math.random() * (33-5) + 33)\n\nvar cityNumber = parseInt(Math.random() * 4);\n\nvar gps = new Array([22.5223005, 113.9366715], [39.9161461, 116.5641033], [31.2148436, 121.4637103], [23.1166059, 113.3248083]);\n\n\nlat = gps[cityNumber][0];\nlong = gps[cityNumber][1];\n\nmsg.payload = { uptime: parseInt(msg.payload['Uptime']), intemp: parseInt(msg.payload['Temp']), inhumid: parseInt(msg.payload['Humidity']), lat: lat, long: long, }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":240,"wires":[["4124aafe.2a6c94","451a8ac6.e3e5d4"]]},{"id":"630c82ce.f2559c","type":"http in","z":"4d4b9ab5.2cfd04","name":"weatherSensor","url":"/weather","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["45029b21.06b774"]]},{"id":"451a8ac6.e3e5d4","type":"mqtt out","z":"4d4b9ab5.2cfd04","name":"esp32AliyunIoT","topic":"/a11c2OB5VEb/hongESP32/user/temperature","qos":"","retain":"","broker":"ab92fbe5.c23718","x":770,"y":400,"wires":[]}]